<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.video_lab.permission_controller">

    <application>
        <activity android:name="com.video_lab.permission_controller.PermissionCheckerActivity"
            android:theme="@style/Theme.TransparentActivity"/>
    </application>
</manifest>